h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
div.paragraph, div.list, pre {
  margin: 1em auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
body > .hdesc,
#content > .hdesc:not(.contact) + *:not(.section),
#content > .hdesc.contact + div > *:not(.list),
#content > .hdesc.contact + div > .list > *,
.section > .part > div,
body #header > *,
body #footer > * {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
