h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
div.paragraph, div.list, pre {
  margin: 1em auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
body > .hdesc,
#content > .hdesc:not(.contact) + *:not(.section),
#content > .hdesc.contact + div > *:not(.list),
#content > .hdesc.contact + div > .list > *,
.section > .part > div,
body #header > *,
body #footer > * {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
/*****************************/
.meal dt {
  font-weight: 700;
  font-size: 1.2em;
  position: relative;
  margin-bottom: 0.25em;
}
#content .meal dt > svg {
  display: none;
}
.meal dd {
  margin-left: 0;
  font-style: italic;
}
.meal dt.price {
  display: none;
}
.meal dd.price {
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin-top: 0.5em;
}
.meal dd.price > span {
  display: flex;
  flex-direction: column;
}
.meal dd.price > span:not(:last-child) {
  margin-right: 1em;
}
.meal dd.price > span > span:first-child {
  font-weight: normal;
}
#content .meal-oneline dt {
  width: 80%;
  float: left;
  clear: left;
  margin-bottom: 0;
  line-height: 1;
}
#content .meal-oneline dd.price {
  width: 20%;
  margin-top: 0;
  margin-bottom: 0.5em;
}
#content .meal-oneline dd:not(.price) {
  display: none;
}
#content .meal-oneline:after {
  content: "";
  display: table;
  clear: both;
}
/*
@media all and (min-width: 30em) {
  body #content .meal {
    max-width: 18em;
    position: relative;
    left: -4em;
  }
  .meal dd.price {
    position: absolute;
    bottom: 0.8em;
    right: -7em;
  }
}
*/
/*****************************/
