h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
div.paragraph, div.list, pre {
  margin: 1em auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#content, #header > *, #footer > * {
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}