@charset "UTF-8";
/************************************/
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
div.paragraph, pre:not(.CodeMirror-line),
.hdesc > div,
.contentbalancer-simple, fieldset {
  margin: 1em auto;
  max-width: 62rem;
  box-sizing: border-box;
}
@media screen {
  h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
  div.paragraph, pre:not(.CodeMirror-line),
  .hdesc > div,
  .contentbalancer-simple {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
body div.list {
  max-width: 75rem;
  margin: 2em auto;
  clear: both;
}
@media print {
  .list > div {
    display: block !important;
  }
  dl.card {
    display: block !important;
    break-inside: avoid;
  }
}
dt {
  font-weight: 500;
}
dt span {
  font-weight: 400;
  font-size: 1rem;
  white-space: nowrap;
}
a {
  color: #166887;
}
a:visited {
  color: #50218a;
}
h1, h2, h3 {
  font-weight: 300;
  /* letter-spacing: 0.1em; */
}
h1, h2, h3,
dt {
  color: black;
}
h1 {
  font-size: 2.5em
}
h2 {
  margin-top: 1em;
  font-size: 2em;
}
body h3 {
  font-size: 1.5em;
  text-align: center;
  color: gray;
}
h3:before {
  content: "–";
  margin-right: 0.2em;
}
h3:after {
  content: "–";
  margin-left: 0.2em;
}
dt q {
  font-style: italic;
  color: #926f00;
}
h2.break {
  page-break-before: always;
}
/************************************/
fieldset {
  margin-top: 3rem;
  max-width: 60rem;
}
fieldset legend {
  font-size: 1.5em;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}
.vyber-jidla dt,
.vyber-jidla dd {
  width: 100%;
  max-width: initial;
  float: none;
}
/************************************/
dl.figure {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-width: 35em;
}
dl.figure dt {
  width: 100%;
  text-align: center;
}
dl.figure dt:not(:first-child) {
  margin-top: 2em;
}
dl.figure dd {
  width: 100%;
  margin: 0.5em 0 0 0;
  padding: 0;
  text-align: center;
}
dl.figure.honzajk img {
  max-width: 8em;
}
/************************************/
dl.video {
  padding: 0
}
dl.video object {
  width: 100%;
}
/************************************/
dl.card {
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
}
dl.card[data-type]:before {
  content: attr(data-type);
  background: #ffffff;
  position: absolute;
  outline: medium solid #ecece0;
  top: -0.8em;
  right: 1em;
  padding: 0.1em 0.6em;
  /* z-index: -1; */
}
#content > .section > .part:nth-child(2n+1) dl.card,
.kontakt{
  background: rgba(250, 250, 238, 0.57);
  border-color: #ecece0 !important;
}
.kontakt {
  border: medium solid;
}
dl.card dd:not(:last-child) {
  /* margin-bottom: 0.5em; */
}
dl dd {
  margin-left: 0;
}
dl dt {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
dl dt:not(:first-child) {
  margin-top: 0.5em;
}
dl.card dt:first-child + dd,
dl.figure dt:first-child {
  flex-grow: 2;
}
dl.card dt.price:not(.multiple) {
  display: none;
}
dl.card dd.price {
  text-align: right;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.2em;
}
dl.card dd.price > span {
  margin: 0 0.75em;
}
dl.card dd.price > span:last-child {
  margin-right: 0;
}
dl.card dd.price > span > span:first-child {
  display: block;
  text-align: right;
  font-weight: normal;
  font-size: 1rem;
}
dl.card dd.price > span > span + span {
  font-weight: 500;
}
dl.card.oneline dd.price {
  display: block;
  margin: -2.3rem 0 0 0 !important;
}
dl.card.oneline dt {
  margin-top: 1em;
}
dl.card.oneline dt {
  margin-right:  4em;
}
/************************************/
@media print {
  .hdesc {
    page-break-inside: avoid;
  }
}
.hdesc > div {
  margin: 0 auto;
  padding: 0;
}
#content > .section {
  margin-top: 3em;
}
/************************************/
#footer ul li {
  margin: 0.1em 0.7em;
}
#footer p, #footer p a {
  text-align: center;
  font-style: italic;
  font-size: 1.1em;
  font-weight: 500;
  color: #e3ad00;
  border-color: #e3ad00;
}
#footer .fa:before {
  font-size: large;
  margin-right: 0.2em;
  width: auto;
}
/************************************/
#content > .section > .part:nth-child(2n+1) > div.list.multiple {
  margin-bottom: 0;
}
dl.card:not(:last-child) dd:last-child {
    border-bottom: thin solid #ccccc9 !important;
    padding-bottom: 1.5em;
}
/************************************/
.card a.hideable-switch {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
}
.card a.hideable-switch.noprint span {
  visibility: hidden;
  position: relative;
}
.card a.hideable-switch.noprint span:after {
  content: "▼";
  visibility: visible;
  position: absolute;
  left: 0;
  padding: 0 0.5em 0.5em 0;
}

.card.hideable-hidden a.hideable-switch.noprint span:after {
  content: "►";
}
/************************************/
ul.akce li {
  margin: 0;
}
/************************************/
a.term {
  border-bottom: none;
}
/************************************/
ol.contenttoc {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
ol.contenttoc li {
  margin: 0;
}
ol.contenttoc li a {
  color: #000000;
  display: block;
  padding: 0.5em 1em;
  margin: 0 0.3em 0.3em 0;
  border-right: thin solid;
  border-color: #bbb;
  background: rgb(253, 253, 246);
}
/************************************/
