@charset "UTF-8";
/*********************************/
div.list.multiple > div {
  display: flex;
  flex-wrap: wrap;
}
div.list.multiple div > * {
  flex: 0 1 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0.5em 0;
  padding: 1em;
}
/*********************************
@media (min-width: 50em) {
  div.list.multiple div > *:not(.meal) {
    flex: 0 1 50%;
    max-width: 50%;
  }
}
@media (min-width: 62em) {
  div.list.multiple div > *:not(.meal) {
    flex: 0 1 33.33%;
    max-width: 33.3%;
  }
}
*********************************/
