@charset "UTF-8";
#footer {
  padding-top: 3em;
  padding-bottom: 0.5em;
}
#footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
#footer ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer ul li {
  margin-left: 0.7em;
  margin-right: 0.7em;
  text-align: center;
}
#footer ul ul li {
  margin: 0;
}
/* Browser compatibility */
.no-flexbox #footer ul {
  display: table;
}
.no-flexbox #footer ul li {
  display: inline-block;
  padding: 0 0.5em;
}
