@charset "UTF-8";
.wf-active form {
  font-family: Roboto, sans-serif;
}
form {
  margin: 4em 0;
}
form dt {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 1em;
}
form dt + dd + dd:not(:last-child) {
  padding-left: 1em;
}
form dt:not(:first-child) {
  margin-top: 2em;
}
form input[type="text"],
form input[type="email"],
form dd > textarea,
form dd {
  max-width: 24em;
  width: 100%;
}
form#inputvarform input[type="text"],
form#inputvarform input[type="email"],
form#inputvarform dd > textarea,
form#inputvarform dd {
  max-width: none;
}
form dt, form dd {
  margin: 0.5rem 0;
}
form input[type="text"],
form input[type="email"] {
  border-top: none;
  border-right: none;
  border-left: none;
  box-sizing: border-box;
}
input.hide {
  display: none;
}
form dd > textarea {
  font: inherit;
  box-sizing: border-box;
}
input:not([type='submit']),
textarea, select {
  border: 0 none;
  border-bottom: thin solid #666;
  background: #fff;
  border-radius: 0.5em 0.5em 0 0;
  padding: 1em;
  line-height: 1.5em;
}
.warning {
  border-color: #E78181;
  background-color: #F99F9F;
}
