@charset "UTF-8";
/*********************************/
body {
  font-family: serif;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
.wf-active body {
  font-family: 'Spectral', serif;
}
.wf-active h1,
.wf-active .button {
  font-family: Roboto, sans-serif;
}
strong {
  font-weight: 600;
}
#footer a,
#content a {
  color: #b6150d;
  border-bottom: 0 none;
}
.contentlink-bc a {
  border: none;
}
/*********************************/
h1 {
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}
@media all and (min-width: 25em) {
  h1 {
    font-size: 4em;
  }
}
h2, h3 {
  font-weight: normal;
  font-size: 2.2em;
  margin-bottom: 0.75em;
  text-align: center;
}
p.description,
#content > .hdesc.contact + div > p.desc {
  font-style: italic;
  font-size: 1.5em;
  margin-top: 1rem;
  text-align: center;
  max-width: 30em;
}
p.description:after {
  content: "";
  display: block;
  width: 1.25em;
  height: 0.3em;
  background: url("/files/design/sep.png") no-repeat;
  background-size: cover;
  margin: 2rem auto 3rem auto;
}
h1 + p.description:after {
  display: none;
}
/*********************************/
.globalmenu li:first-child {
  display: none !important;
}
ol.contentlink-bc > li+li:before {
  vertical-align: 0;
}
/*********************************/
.term-hidden {
  display: none !important;
}
.list.multiple {
  clear: both;
}
/*********************************/
#header {
  position: absolute;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  padding: 0.2em 0;
}
#header a {
  color: white;
  font-weight: 600;
}
#header .contentlink-bc li:first-child {
  text-transform: uppercase;
}
#header > div .globalmenu {
  margin-top: 1.2rem;
  background: rgba(0, 0, 0, 0.6);
  border-top: thin solid rgba(255, 255, 255, 0.14);
}
@media all and (min-width: 42em) {
  #header > div .globalmenu {
    background: none;
    border: none;
    margin: 0;
  }
}
#header > div .globalmenu a {
  font-weight: 800;
}
.hdesc {
  color: white;
  padding: 3.2em 0 9.6em 0;
  background: #555;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% top;
}
.hdesc.steakgrill {
  padding-top: 6.2em;
  background-image: url("/files/design/header.jpg");
}
.hdesc.wine_list,
.hdesc.driks_list,
.hdesc.menu,
.hdesc.regular_menu {
  background-image: url("/files/design/menu-header.jpg");
}
.hdesc.contact {
  background-image: url("/files/design/contact-header.jpg");
  background-position: 50%;
}
.hdesc.about_us {
  background-image: url("/files/design/about-header.jpg");
}
media all and (min-width: 62em) {
  .hdesc.steakgrill {
    padding-top: 6.2em;
    background-image: url("/files/full/design/header.jpg");
  }
  .hdesc.wine_list,
  .hdesc.driks_list,
  .hdesc.menu,
  .hdesc.regular_menu {
    background-image: url("/files/full/design/menu-header.jpg");
  }
  .hdesc.contact {
    background-image: url("/files/full/design/contact-header.jpg");
    background-position: 50%;
  }
  .hdesc.about_us {
    background-image: url("/files/full/design/about-header.jpg");
  }  
}
.logo img {
  margin-top: -6em;
  width: 16em;
  position: relative;
}
/*********************************/
#footer {
  background: #000;
  color: white;
  font-weight: 800;
}
#footer a {
  color: white;
}
/*
#footer:before {
  content: "";
  display: block;
  width: 15em;
  height: 15em;
  background: url("/files/preview/design/logo-black-white.png") no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: -5.2em;
}
*/
#content > .section > .part:last-child {
  padding-bottom: 4em;
}
/*********************************/
#content .card,
#content .button {
  border-radius: 0.25em;
  box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,.14), 0 0.15em 0.05em -0.1em rgba(0,0,0,.12), 0 0.05em 0.25em 0 rgba(0,0,0,.2);
}
/*********************************/
#content .button {
  font-size: 0.75em;
  font-weight: 500;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 1.2em 1.5em;
  transition: 0.25s ease-out;
  color: black;
  background: white;
  max-width: 19em;
  display: inline-flex;
  justify-content: center;
  border: none;
}
#content .button-list,
#content .contentbalancer-simple ul {
  list-style: none;
  margin: 5em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.contentbalancer-simple li,
.button-list li {
  margin: 0.5em;
  flex: 0 1 100%;
  text-align: center;
}
.contentbalancer-simple li a,
.button-list li a {
  width: 100%;
}
.button-img {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-img svg {
  flex: 0 1 100%;
  font-size: 3rem;
  margin-bottom: 0.25em;
  color: #b6150d;
}
svg.fa-facebook {
  color: #3C5A99;
}
#content .button-img-inline {
  align-items: center;
  justify-content: center;
  color: #b6150d;
  flex-wrap: nowrap;
}
#content .button-img-inline svg {
  flex: 0 1 auto;
  font-size: 1rem;
  margin: 0;
  flex: 0 1 25%;
}
#content .button:hover,
#content .button:active,
#content .button:focus {
  outline: 0 none;
  box-shadow: 0 0.4em 0.5em 0 rgba(0,0,0,0.14), 0 0.1em 1em 0 rgba(0,0,0,0.12), 0 0.2em 0.4em -0.1em rgba(0,0,0,0.3);
}
@media all and (min-width: 27em) {
  #content .contentbalancer-simple {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
  }
  .contentbalancer-simple li,
  .button-list li {
    flex: 0 1 auto;
  }
  #content .button-img-inline svg {
    flex: 0 1 auto;
    margin-right: 0.5em;
  }
  #content .contentbalancer-simple .button {
    max-width: none;
  }
}
/*********************************/
#content .meal {
  margin: 0 auto;
  max-width: 25em;
}
@media (min-width: 50em) {
  #content .meal {
    flex: 0 1 50%;
  }
}
@media all and (min-width: 35em) {
  #content .meal dt > svg {
    font-size: 0.8em;
    display: inline-block;
    position: absolute;
    left: -1.6em;
    top: 0.35em;
  }
}
/*********************************/
#content .card {
  background: rgba(255, 255, 255, 0.85);
  color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 25em;
}
.card dd {
  margin-left: 0;
}
#content .card-emph {
  text-align: center;
  padding: 1em 2em 2.5em 2em;
}
.card-emph dt {
  font-size: 2em;
  font-weight: 600;
  margin: 0.5rem 0;
}
.card-emph dd {
  font-size: 1.4em;
  font-style: italic;
}
/*********************************/
.photoswipe {
  list-style: none;
  padding: 0;
}
.photoswipe li {
  margin: 0;
  text-align: right;
}
.photoswipe a,
.photoswipe a img {
  display: inline-block;
}
/*********************************/
.part {
  padding: 2em 0 1em;
  clear: both;
  background-size: cover !important;
}
.part > div {
  padding: 0.01em 0
}
.part.hamburgers_and_pasta .description:after,
.part.kids_dishes .description:after,
.part.grill_griddle .description:after,
.part.contact .description:after,
.part.about_us .description:after {
  background-image: url("/files/design/sep-white.png");
}
.part.about_us {
  background: #555 url("/files/design/about.jpg") top right no-repeat;
  color: white;
}
.part.menu {
  background: url("/files/design/menu.jpg") center no-repeat;
}
.part.contact_form {
  background: url("/files/design/contactform.jpg") center top no-repeat;
}
.part.contact {
  background: #555 url("/files/design/contact.jpg") center no-repeat;
  color: white;
}
.part.hamburgers_and_pasta {
  background: #555 url("/files/design/burger.jpg") right 60% no-repeat;
  color: white;
}
.part.frying_pan_wok {
  background: #555 url("/files/design/frying.jpg") center 60% no-repeat;
}
.part.grill_griddle {
  background: #555 url("/files/design/grill.jpg") left 60% no-repeat;
  color: white;
}
.part.desserts-group {
  background: #555 url("/files/design/desserts.jpg") center 60% no-repeat;
  padding: 8em 0;
}
.part.kids_dishes {
  background: #555 url("/files/design/kids.jpg") right 60% no-repeat;
  color: white;
}
.part.side_and_sauces {
  background: #555 url("/files/design/side.jpg") center 60% no-repeat;
  padding: 8em 0;
}
.part.steaks {
  background: #ddd url("/files/design/steaks-raw.jpg") center no-repeat;
}
@media all and (min-width: 62em) {
  .part.about_us {
    background-image: url("/files/full/design/about.jpg");
  }
  .part.menu {
    background-image: url("/files/full/design/menu.jpg");
  }
  .part.contact_form {
    background-image: url("/files/full/design/contactform.jpg");
  }
  .part.contact {
    background-image: url("/files/full/design/contact.jpg");
  }
  .part.hamburgers_and_pasta {
    background-image: url("/files/full/design/burger.jpg");
  }
  .part.frying_pan_wok {
    background-image: url("/files/full/design/frying.jpg");
  }
  .part.grill_griddle {
    background-image: url("/files/full/design/grill.jpg");
  }
  .part.desserts-group {
    background-image: url("/files/full/design/desserts.jpg");
  }
  .part.kids_dishes {
    background-image: url("/files/full/design/kids.jpg");
  }
  .part.side_and_sauces {
    background-image: url("/files/full/design/side.jpg");
  }
  .part.steaks {
    background-image: url("/files/full/design/steaks-raw.jpg");
  }
}
/*********************************/
.menu {
  padding: 4em 0;
}
#content .menu:not(.hdesc) > div {
  max-width: 100em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu .contentbalancer-simple {
  display: none;
}
#content .menu .button-list {
  margin-top: 0;
}
.daily_offer,
.weekend_events {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
@media (min-width: 75em) {
  .daily_offer,
  .weekend_events,
  .menu-nested,
  .references {
    box-sizing: border-box;
    width: 50%;
    flex: 0 1 50%;
  }
}
.content-card {
  box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,.14), 0 0.15em 0.05em -0.1em rgba(0,0,0,.12), 0 0.05em 0.25em 0 rgba(0,0,0,.2);
  margin: 1em auto;
  background: white;
  border-radius: 0.25em;
  padding: 2em 0;
  width: 100%;
  max-width: 38em !important;
  box-sizing: border-box;
}
#content .content-card {
  /* margin: 1em; */
  padding: 3em 1em 3em 1em;
}
.content-card h3,
.content-card h2 {
  margin-top: 0.5em;
}
.content-card p.description {
  max-width: 17em;
}
.content-card > div.list > div {
  display: block;
}
.content-card p.description:after {
  display: none;
}
/*********************************/
@media all and (min-width: 62em) {
  #content .content-group > div {
    display: flex;
    justify-content: space-around;
    max-width: 90em;
    margin: 0 auto;
  }
  .content-group > div > * {
    flex: 0 1 48%;
    margin: 0 2em;
    max-width: 50%;
    display:  flex;
  }
}
/*********************************/
#content .contact .button-list {
  margin-top: 0;
  margin-bottom: 15em;
}
.menu h2 + p {
  max-width: 16em;
}
.contact h2 + p {
  max-width: 25em;
}
/*********************************/
.about_us h2 + p {
  max-width: 20em;
}
@media all and (min-width: 62em) {
  .about_us h2,
  .about_us h2 + p,
  .about_us h2 + p + div {
    margin-right: 0;
    max-width: 43rem;
  }
  .about_us h2 + p {
    padding-left: 4em;
    padding-right: 4em;
    box-sizing: border-box;
  }
}
/*********************************/
#content .part.kids_dishes,
#content .part.grill_griddle,
#content .part.hamburgers_and_pasta {
  padding: 10em 0;
}
#content .part.kids_dishes .list div,
#content .part.grill_griddle .list div,
#content .part.hamburgers_and_pasta .list div {
  display: block;
}
#content .part.kids_dishes h2 + p {
  max-width: 15em;
}
#content .part.grill_griddle h2 + p {
  max-width: 16em;
}
#content .part.hamburgers_and_pasta h2 + p {
  max-width: 14em;
}
@media all and (min-width: 62em) {
  #content .meal {
    max-width: 30em
  }
  #content .part.kids_dishes > div,
  .part.hamburgers_and_pasta > div {
    max-width: 43rem;
    margin-right: 5vw;
  }
  #content .part.grill_griddle >  div {
    max-width: 43rem;
    margin-left: 5vw;
  }
}
/*********************************/
@media all and (min-width: 62em) {
  #content .frying_pan_wok .content-card {
    margin-right: 5vw;
  }
}
/*********************************/
#content .desserts2 .content-card {
  padding: 5em 1em;
}
/*********************************/
.part.information h2 {
  margin: 3em 0 1.5em 0;
}
.part.information ul {
  list-style: none;
  text-align: center;
}
.part.information ul li {
  margin: 1em 0;
}
/*********************************/
.content-img h2,
.jaroslav_honzajk h2 {
  margin-top: 2em;
}
.content-img h2 + p,
.jaroslav_honzajk h2 + p {
  max-width: 14em;
}
.content-img .photoswipe li,
.jaroslav_honzajk .photoswipe li {
  text-align: center;
}
.jaroslav_honzajk h2 + p + div + p,
.content-img h2 + p + div + p {
  text-align: center;
  max-width: 27em;
}
.content-img .photoswipe img,
.jaroslav_honzajk .photoswipe img {
  width: 35em;
  max-width: 100%;
}
@media all and (min-width: 62em) {
  .content-img {
    margin-top: 6em;
  }
  .jaroslav_honzajk > div {
    position: relative;
  }
  .content-img > div:first-child {
    float: left;
  }
  .jaroslav_honzajk h2 + p + .list {
    position: absolute;
    top: 2.8em;
    right: 0;
  }
  .content-img h2,
  .content-img h2 + p,
  .jaroslav_honzajk h2,
  .jaroslav_honzajk h2 + p,
  .jaroslav_honzajk h2 + p + div + p {
    width: 29rem;
    box-sizing: border-box;
    max-width: none;
    margin-left: 0;
  }
  .content-img h2 + p,
  .jaroslav_honzajk h2 + p {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .content-img .photoswipe img,
  .jaroslav_honzajk .photoswipe img {
    width: 38em;
    max-width: 48vw;
  }
  .content-img div.list.multiple {
    margin: 4em 0 6em 0;
  }
  #content .jaroslav_honzajk .button-list {
    margin-top: 10em;
  }
}
/*********************************/
#references {
  display: none;
}
.part.references {
  padding-bottom: 2em;
  margin: 0 auto;
}
.part.references dl {
  text-align: center;
  max-width: 25em;
}
.part.references dt img {
  max-width: 8em;
}
.part.references dd {
  font-style: italic;
  margin: 0;
}
.part.references dt + dd {
  font-size: 1.5em;
  max-width: 15em;
  margin: 1em auto 0.5em auto;
}
.part.references dt + dd q:before,
.part.references dt + dd q:after {
  content: "";
}
.part.references dl svg {
  color: #b6150d;
  margin-top: 0.5em;
}
/*********************************/
#content .contenttoc {
  margin-bottom: 0;
}
.hdesc.regular_menu {
  padding-bottom: 5em;
}
@media all and (min-width: 35em) {
  #content .contenttoc .button {
    max-width: none;
  }
  .hdesc.regular_menu {
    padding-bottom: 18em;
  }
  #content ol.contenttoc.button-list {
    margin-bottom: 0;
    margin-top: -16em;
    max-width: 64em;
  }
}
@media all and (min-width: 60em) {
  .hdesc.regular_menu {
    padding-bottom: 14em;
  }
  #content ol.contenttoc.button-list {
    margin-top: -10em;
    max-width: 64em;
  }
}
/*********************************/
.hdesc.contact h1 {
  padding: 1.1em 0 0.2em 0;
}
p.desc {
  margin: 2em auto 3em auto;
}
#content > .hdesc.contact + div > .list {
  background: url("/files/design/map.jpg") center 80% no-repeat;
  background-size: cover;
  padding-bottom: 20vw;
  margin-top: 11em;
}
@media all and (min-width: 62em) {
  background-image: url("/files/full/design/map.jpg");
}
#content > .hdesc.contact + div > .list > div {
  position: relative;
  top: -7em;
}
.part.questions > div,
.part.contact_form > div,
.part.news > div {
  max-width: 60em;
  margin: 0 auto;
}
#questions, #questions + p.description,
#contact_form, #contact_form + p.description, 
#news, #news + p.description {
  text-align: left;
  max-width: 40rem;
  margin-left: 0;
  margin-right: 0;
}
#questions, #questions + p.description:after,
#contact_form + p.description:after,
#news + p.description:after {
  content: none;
}
.faq {
  padding: 2em 0;
}
.faq dt {
  font-size: 1.2em;
  font-weight: 600;
}
.faq dt:not(:first-child) {
  margin-top: 1em;
}
.faq dd {
  margin-left: 0;
  font-style: italic;
  max-width: 36em;
}
.news form dl {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.news form dt {
  display: none;
}
.news form dt + dd {
  margin: 0
}
.news form dt + dd + dd {
  margin: 1em 0 0 0.5em;
  padding-left: 0;
}
.contact_form form dt.noprint {
  display: none;
}
.contact_form form dt.noprint + dd {
  margin-top: 2em;
}
/*********************************/
.hdesc.about_us h1 {
  margin-top: 2.25em;
}
.concept .content-img {
  margin-top: 0;
}
.about_us.hdesc + div > .list {
  margin-top: -12em;
}
.about_us.hdesc + div > .list li + li {
  display: none;
}
.content-img h2 + p {
  padding-left: 1em;
  padding-right: 1em;
}
#content dl.klima {
  text-align: center;
  margin-top: 6em;
}
dl.klima {
  display: block;
  background: none;
  max-width: 55em;
  padding: 4em 0;
  clear:both;
  font-style: italic;
}
dl.klima dd {
  margin-top: 0.5em;
}
dl.klima dt:first-child + dd {
  font-size: 1.5em;
  margin-top: 1em;
}
@media (min-width: 42em) {
  #content dl.klima {
    text-align:left;
  }
  dl.klima dt:first-child  {
    float: left;
    width: auto;
    margin-right: 4em;
  }
}
.part.steaks {
  margin-top: 4em;
  padding: 8em 0;
  text-align: center;
}
.part.steaks p {
  max-width: 39em;
  /* font-style: italic; */
}
.part.steaks > div {
  max-width: 52em !important;
}
@media (min-width: 35em) {
  .part.steaks .multiple {
    padding: 0;
  }
  .part.steaks .multiple > div {
    display: flex;
    justify-content: space-evenly;
  }
  .part.steaks .multiple > div > * {
    flex: 0 1 23%;
    max-width: 23%;
    text-align: center;
  }
}
.part.steaks .multiple dd {
  margin-left: 0;
  font-style: italic;
}
.part.steaks .multiple img {
  max-width: 8em;
  max-height: 11em;
}
.part.steaks .content-card p.description {
  max-width: 27em;
}
.part.video-archives > div {
  max-width: 65em;
  margin: 0 auto;
}
#video-archives, #video-archives + p.description {
  text-align: left;
  max-width: 36rem;
  margin-left: 0;
  margin-right: 0;
}
#video-archives + p.description:after {
  content: none;
}
#video-archives {
  margin-top: 2em;
}
.part.video-archives .list.multiple li {
  list-style: none;
  margin-left: 0;
}
.part.video-archives .list.multiple li + li {
  margin-top: 0.5em;
}
.part.video-archives .list.multiple svg {
  vertical-align: -0.35em;
  margin-right: 0.25em;
}
@media (min-width: 50em) {
  .part.video-archives .list.multiple ul {
    flex: 0 1 50%;
    max-width: 50%;
  }
}
/*********************************/
#footer ul.social,
#footer ul.globalmenu {
  display: inline-block;
  height: 7em;
  vertical-align: bottom;
  text-transform: uppercase;
}
#footer ul.globalmenu + ul {
  justify-content: left;
}
#footer ul li {
  text-align: left;
  font-weight: normal;
}
#footer ul.social li a {
  display: inline-flex;
  align-items: center;
  text-transform: none;
}
#footer ul.social li a svg {
  margin-right: 0.25em;
  width: 1.2em;
  color: white;
}
/*********************************/
body[data-link="/wine_list"] #content > .section,
body[data-link="/driks_list"] #content > .section {
  margin-top: 8em;
}
@media (min-width: 50em) {
  body[data-link="/wine_list"] #content > .section,
  body[data-link="/driks_list"] #content > .section {
    display: flex;
    flex-wrap: wrap;
  }
  body[data-link="/wine_list"] #content > .section > div,
  body[data-link="/driks_list"] #content > .section > div {
    flex: 0 1 50%;
    max-width: 50%;
  }
}
/*********************************/