@charset "UTF-8";
/*********************************/
body {
  font-family: serif;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
.wf-active body {
  font-family: 'Cormorant Garamond', serif;
}
.wf-active h1,
.wf-active .button {
  font-family: Roboto, sans-serif;
}
strong {
  font-weight: 600;
}
#footer a,
#content a {
  color: #b6150d;
  border-bottom: 0 none;
}
.contentlink-bc a {
  border: none;
}
/*********************************/
h1 {
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}
@media all and (min-width: 25em) {
  h1 {
    font-size: 4em;
  }
}
h2, h3 {
  font-weight: normal;
  font-size: 2.2em;
  margin-bottom: 0.75em;
  text-align: center;
}
p.description {
  font-style: italic;
  font-size: 1.5em;
  margin-top: 1rem;
  text-align: center;
  max-width: 30em;
}
p.description:after {
  content: "";
  display: block;
  width: 1.25em;
  height: 0.3em;
  background: url("/files/design/sep.png") no-repeat;
  background-size: cover;
  margin: 2rem auto 3rem auto;
}
h1 + p.description:after {
  display: none;
}
/*********************************/
.globalmenu li:first-child {
  display: none !important;
}
/*********************************/
#header {
  position: absolute;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  padding: 0.2em 0;
}
#header a {
  color: white;
}
#header .contentlink-bc li:first-child {
  text-transform: uppercase;
}
#header > div .globalmenu {
  margin-top: 1.2rem;
  background: rgba(0, 0, 0, 0.6);
  border-top: thin solid rgba(255, 255, 255, 0.14);
}
@media all and (min-width: 42em) {
  #header > div .globalmenu {
    background: none;
    border: none;
    margin: 0;
  }
}
#header > div .globalmenu a {
  font-weight: 800;
}
.hdesc {
  color: white;
  padding: 3.2em 0 9.6em 0;
  background: #555;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% top;
}
.hdesc.steakgrill {
  padding-top: 6.2em;
  background-image: url("/files/full/design/header.jpg");
}
.hdesc.regular_menu {
  background-image: url("/files/full/design/menu-header.jpg");
}
.logo img {
  margin-top: -6em;
  width: 16em;
  position: relative;
}
/*********************************/
#footer {
  background: #000;
  color: white;
  font-weight: 800;
}
#footer a {
  color: white;
}
#footer:before {
  content: "";
  display: block;
  width: 20em;
  height: 15em;
  background: url("/files/preview/design/logo-black-white.png") no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: -5.2em;
}
#content > .section > .part:last-child {
  padding-bottom: 10em;
}
/*********************************/
#content .card,
#content .button {
  border-radius: 0.25em;
  box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,.14), 0 0.15em 0.05em -0.1em rgba(0,0,0,.12), 0 0.05em 0.25em 0 rgba(0,0,0,.2);
}
/*********************************/
#content .button {
  font-size: 0.75em;
  font-weight: 500;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 1.2em 1.5em;
  transition: 0.25s ease-out;
  color: black;
  background: white;
  max-width: 19em;
  display: inline-flex;
  justify-content: center;
}
#content .button-list {
  list-style: none;
  margin: 5em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.button-list li {
  margin: 0.5em;
  flex: 0 1 100%;
  text-align: center;
}
.button-list li a {
  width: 100%;
}
.button-img {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-img svg {
  flex: 0 1 100%;
  font-size: 3rem;
  margin-bottom: 0.25em;
  color: #b6150d;
}
svg.fa-facebook {
  color: #3C5A99;
}
#content .button-img-inline {
  align-items: center;
  justify-content: center;
  color: #b6150d;
  flex-wrap: nowrap;
}
#content .button-img-inline svg {
  flex: 0 1 auto;
  font-size: 1rem;
  margin: 0;
  flex: 0 1 25%;
}
#content .button:hover,
#content .button:active,
#content .button:focus {
  outline: 0 none;
  box-shadow: 0 0.4em 0.5em 0 rgba(0,0,0,0.14), 0 0.1em 1em 0 rgba(0,0,0,0.12), 0 0.2em 0.4em -0.1em rgba(0,0,0,0.3);
}
@media all and (min-width: 35em) {
  .button-list li {
    flex: 0 1 auto;
  }
  #content .button-img-inline svg {
    flex: 0 1 auto;
    margin-right: 0.5em;
  }
}
/*********************************/
#content .meal {
  margin: 0 auto;
  max-width: 25em;
}
.meal dt {
  font-weight: 700;
  font-size: 1.2em;
  position: relative;
  margin-bottom: 0.25em;
}
#content .meal dt > svg {
  display: none;
}
.meal dd {
  margin-left: 0;
  font-style: italic;
}
.meal dt.price {
  display: none;
}
.meal dd.price {
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin-top: 0.5em;
}
.meal dd.price > span {
  display: flex;
  flex-direction: column;
}
.meal dd.price > span:not(:last-child) {
  margin-right: 1em;
}
.meal dd.price > span > span:first-child {
  font-weight: normal;
}
/*
@media all and (min-width: 30em) {
  body #content .meal {
    max-width: 18em;
    position: relative;
    left: -4em;
  }
  .meal dd.price {
    position: absolute;
    bottom: 0.8em;
    right: -7em;
  }
}
*/
@media (min-width: 50em) {
  #content .meal {
    flex: 0 1 50%;
  }
}
@media all and (min-width: 35em) {
  #content .meal dt > svg {
    font-size: 0.8em;
    display: inline-block;
    position: absolute;
    left: -1.6em;
    top: 0.35em;
  }
}
/*********************************/
#content .card {
  background: rgba(255, 255, 255, 0.85);
  color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 25em;
}
.card dd {
  margin-left: 0;
}
#content .card-emph {
  text-align: center;
  padding: 1em 2em 2.5em 2em;
}
.card-emph dt {
  font-size: 2em;
  font-weight: 600;
  margin: 0.5rem 0;
}
.card-emph dd {
  font-size: 1.4em;
  font-style: italic;
}
/*********************************/
.photoswipe {
  list-style: none;
  padding: 0;
}
.photoswipe li {
  margin: 0;
  text-align: center;
}
.photoswipe a,
.photoswipe a img {
  display: inline-block;
}
/*********************************/
.part {
  padding: 2em 0 1em;
  clear: both;
  background-size: cover !important;
}
.part > div {
  padding: 0.01em 0
}
.part.about_us {
  background: url("/files/full/design/about.jpg") top right no-repeat;
  color: white;
}
.part.menu {
  background: url("/files/full/design/menu.jpg") center no-repeat;
}
.part.contact {
  background: url("/files/full/design/contact.jpg") center no-repeat;
  color: white;
}
.part.contact .description:after,
.part.about_us .description:after {
  background-image: url("/files/design/sep-white.png");
}
.part.hamburgers_and_pasta {
  background: url("/files/full/design/burger.jpg") right 60% no-repeat;
  color: white;
}
.part.frying_pan_wok {
  background: url("/files/full/design/frying.jpg") center 60% no-repeat;
}
/*********************************/
.menu {
  padding: 4em 0;
}
#content .menu > div {
  max-width: 100em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.menu .contentbalancer-simple {
  display: none;
}
.menu-nested {
  margin: 1rem;
  flex-grow: 0;
}
#content .menu .button-list {
  margin-top: 0;
}
.daily_offer,
.weekend_events {
  padding: 0;
  box-sizing: border-box;
}
.content-card {
  box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,.14), 0 0.15em 0.05em -0.1em rgba(0,0,0,.12), 0 0.05em 0.25em 0 rgba(0,0,0,.2);
  margin: 1em auto;
  background: white;
  border-radius: 0.25em;
  padding: 2em 0;
  width: 100%;
  max-width: 38em;
}
.menu .content-card {
  /* margin: 1em; */
  padding: 2em 1em 1em;
}
.content-card h3,
.content-card h2 {
  margin-top: 0.5em;
}
.content-card p.description {
  max-width: 17em;
}
.content-card > div.list > div {
  display: block;
}
.content-card p.description:after {
  display: none;
}
/*********************************/
#content .contact .button-list {
  margin-top: 0;
  margin-bottom: 15em;
}
.menu h2 + p {
  max-width: 16em;
}
.contact h2 + p {
  max-width: 25em;
}
/*********************************/
.about_us h2 + p {
  max-width: 20em;
}
@media all and (min-width: 62em) {
  .about_us h2,
  .about_us h2 + p,
  .about_us h2 + p + div {
    margin-right: 0;
    max-width: 43rem;
  }
  .about_us h2 + p {
    padding-left: 4em;
    padding-right: 4em;
    box-sizing: border-box;
  }
}
/*********************************/
#content .part.hamburgers_and_pasta {
  padding: 10em 0;
}
#content .part.hamburgers_and_pasta .list div {
  display: block;
}
#content .part.hamburgers_and_pasta h2 + p {
  max-width: 14em;
}
@media all and (min-width: 62em) {
  #content .meal {
    max-width: 30em
  }
  .part.hamburgers_and_pasta > div {
    max-width: 43rem;
    margin-right: 5vw;
  }  
}
/*********************************/
.soups h2,
.jaroslav_honzajk h2 {
  margin-top: 2em;
}
.soups h2 + p,
.jaroslav_honzajk h2 + p {
  max-width: 14em;
}
.jaroslav_honzajk h2 + p + div + p {
  text-align: center;
  max-width: 27em;
}
.soups .photoswipe img,
.jaroslav_honzajk .photoswipe img {
  width: 35em;
  max-width: 100%;
}
@media all and (min-width: 62em) {
  .content-img {
    margin-top: 6em;
  }
  .jaroslav_honzajk > div {
    position: relative;
  }
  .content-img > div {
    float: left;
  }
  .content-img > div + div {
    float: right;
  }
  .jaroslav_honzajk h2 + p + .list {
    position: absolute;
    top: 2.8em;
    right: 0;
  }
  .content-img h2,
  .content-img h2 + p,
  .jaroslav_honzajk h2,
  .jaroslav_honzajk h2 + p,
  .jaroslav_honzajk h2 + p + div + p {
    width: 29rem;
    box-sizing: border-box;
    max-width: none;
    margin-left: 0;
  }
  .content-img h2 + p,
  .jaroslav_honzajk h2 + p {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .content-img .photoswipe img,
  .jaroslav_honzajk .photoswipe img {
    width: 38em;
    max-width: 48vw;
  }
  .content-img div.list.multiple {
    margin: 4em 0 6em 0;
  }
  #content .jaroslav_honzajk .button-list {
    margin-top: 10em;
  }
}
/*********************************/
#references {
  display: none;
}
.part.references {
  padding-bottom: 2em;
}
.part.references dl {
  text-align: center;
  max-width: 25em;
}
.part.references dt img {
  max-width: 8em;
}
.part.references dd {
  font-style: italic;
  margin: 0;
}
.part.references dt + dd {
  font-size: 1.5em;
  max-width: 15em;
  margin: 1em auto 0.5em auto;
}
.part.references dt + dd q:before,
.part.references dt + dd q:after {
  content: "";
}
/*********************************/
#content .contenttoc {
  margin-bottom: 0;
}
.hdesc.regular_menu {
  padding-bottom: 5em;
}
@media all and (min-width: 35em) {
  #content .contenttoc .button {
    max-width: none;
  }
  .hdesc.regular_menu {
    padding-bottom: 18em;
  }
  #content ol.contenttoc.button-list {
    margin-bottom: 0;
    margin-top: -16em;
    max-width: 64em;
  }
}
@media all and (min-width: 60em) {
  .hdesc.regular_menu {
    padding-bottom: 14em;
  }
  #content ol.contenttoc.button-list {
    margin-top: -10em;
    max-width: 64em;
  }
}
/*********************************/
